{% extends 'base.html' %}

{% block title %}
	Solicitud de recibo de consignación
{% endblock %}

{% block content %}

<div class="row content-header">
	<div class="container">
      <div  id="contenedor" class="col s12 m6 l12">
        <div id="car" class="card z-depth-3 hoverable" >
			{% if info_enviado%}
				<br>
				<!--<p><h5 id="cn">Apreciado usuario Sena:</h5></p>-->
				{% if info_enviado_admin and info_enviado_user %}
					
					<p><h5 align="center">Apreciado usuario sena, su petición será respondida en un termino maximo de 24 horas.</h5></p>
					<p><h5 align="center">Se le envió un correo a <b>{{correo}}</b> con las instrucciones que debe seguir después de que obtenga su recibo.</h5></p>
				{% else %}
					<p><h5 align="center">Apreciado usuario sena, ocurrió un error, por favor vuelva a enviar la solicitud.</h5></p>		
				{% endif %}
				{% if info_enviado_admin and not info_enviado_user %}
					<p><h5 align="center">Apreciado usuario sena, ocurrió un error, por favor vuelva a enviar la solicitud.</h5></p>
				{% endif %}
				{% if not info_enviado_admin and info_enviado_user %}
					<p><h5 align="center">Apreciado usuario sena, ocurrió un error, por favor vuelva a enviar la solicitud.</h5></p>
				{% endif %}				
			{% else %}
				<p><h5 id="cn">Ingrese los siguientes datos para solicitar el servicio que requiere: </h5></p>
				<div class="divider"></div><br>
				<form action="." method = "POST" enctype = "multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
					<br>
					<center><button type="submit" class="btn btn-sm btn-curious-blue-variant-1">Enviar</button></center>			
				</form>
			{% endif %}			
		</div>
	</div>
</div>
</div>

{% endblock %}