<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/media/css/materialize.min.css"/>
	<!--<link rel="stylesheet" type="text/css" href="/static/css/materialize.css"/>-->
	<link rel="stylesheet" type="text/css" href="/media/css/styles.css"/>
	<title>{% block title %}{% endblock  %}</title>
  
</head>
<body>
	
	  <nav class=" teal darken-1 " class="menu-header">
		<div id="colnav" class="nav-wrapper teal darken-1">
		<a href="http://oferta.senasofiaplus.edu.co/" class="brand-logo left"><img src="/media/images/Logos-sena-blanco.png" width="110px" height="70px"></a>
		<a  href="{% url 'vista_solicitud' %}" class="brand-logo center" padding = "200px">Solicitud de recibo de consignación</a>
			<!--
		  <ul class="right hide-on-med-and-down">			
			 <li><a href= "#" ></a></li>
			 <li><a href= "#" ></a></li>
			 <li><a href=" #" ></a></li>
			 <li><a href="#" ></a></li>
			 <li><a href=" #" ></a></li>	  
			 <li></li><a href= "#" ></a>			 
		  </ul>
		  <ul id="nav-mobile" class="side-nav">
			<li><a href="#">Navbar Link</a></li>
		  </ul>
		  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		  -->
		</div>
	  </nav>  
	  <div class="container">
		<div class="section">
			{% block content %}
			{% endblock %}	
		</div>
		<br><br>
		<div class="section">
		</div>
	  </div>
		<script src="/media/js/scripts.js"></script>
    <script type="text/javascript" src="/media/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/media/js/myscript.js"></script>
    <script type="text/javascript" src="/media/js/materialize.js"></script>
    <script type="text/javascript" src="/media/js/materialize.min.js"></script> 
  </body>
</html>







